.vscode/**
.vscode-test/**
src/**
test/**
dist-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
eslint.config.mjs
**/*.map
**/*.ts
!dist/**
!dist/**/*.json
node_modules/**
.github/**
assets/SCREENSHOTS.md
